
html{
	font-size: 100%;
}

html, body{
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

h1,
h2,
h3{
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

h1{
	font-size: 3rem; /* 48/16px = 3rem*/
	line-height: 3rem; /* 48px/ 16 = 3rem */
}

p{
	font-size: 1rem;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

#bg-img{
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -99;
}

.img{
	width: 100%;
	height: 100%;
	position: absolute;
}

#bg-img .overlay { 
	position: absolute;
	width: 100%;
	height: 100%;
	background: #26292E;
	opacity: 0.3;
	/*filter: alpha(opacity=50);*/
	z-index: -10;
	clear: both;
}

.col-1of2 a{
	margin:0;
}

.title{
	width: 100%;
	height: 33.33%;
	float: left;
	display: block;
	margin-right: 0;
	background-color: #fff;
	overflow: hidden;
}

#mobile-title h1{
	display: none;
	color: #000;
}


/*#logo{
	margin: 5.5rem 0 0 1.5rem;
}*/

/*.box2{
	width: 49.8%;
	height: 33.33%;
	display: block;
	float: left;
	margin-left: 0;
	background-color: #fff;
}*/

.box-buttons{
	height: 33.33%;
	margin-left: 0;
	font-weight: 600;

}

.box-buttons:hover{
	background-color: #FFF;
}

.box-buttons h3{
	height: 100%;
	text-align: center;
	color: #000; /*CHANGED from white to make it more visible*/
	padding: 35% 0;
	/*margin: 25% 0;*/
	font-size: 1.35rem; /*also made the font size bigger*/
}

.box-buttons h3:hover{
	color: #000;
}

#service{
	width: 49.5%;
	float: left;
	display: inline;
	border-right: 0.0625rem dashed #fff;
	border-bottom: 0.0625rem dashed #fff;
}

#product{
	width: 49.5%;
	float: left;
	display: block;
	border-bottom: 0.0625rem dashed #fff;
	/*border-top: 0.0625rem dashed #fff;*/
}

#about{
	width: 49.73%;
	float: left;
	display: inline;
	border-right: 0.0625rem dashed #fff;
}

#contact{
	width: 49.5%;
	float: left;
	display: block;
}


/*Right Section*/

.home-container{
	width: 100%;
	height: 100%;
	background-color: #fff;
	clear: float;
}




/***** content ******/

.introduction{
/*	margin-bottom: 1rem;*/
	width: 100%;
	height: 50%;
	background-color: #555;
	background: url(../img/photographer-flipped2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;

}

.introduction-paragraph{
	width: 100%;
	height: 20%;
}

.background{
	background: url(../img/bg.gif) 0 0;
	/*overflow: scroll;*/
	overflow: auto;
	height: 100%;
}




.intro-div{
	float: left;
	display: inline;
}

.img-intro{
	display: block;
}

.overlay-text{
	display: block;
	width: 36%;
	height:70%;
	background-color: #fff;
	float: right;
	padding:0 3rem 5rem 0 ;
	margin: 6rem 0 0 10rem; 
	opacity: 0.4;
	position: absolute;
}

.introduction h3{
	float: left;
	font-size: 2.5rem;
	padding: 2.5rem 1rem 0 4rem;
	opacity: 1;
	color: #000;
}

.introduction p{
	float: right;
	padding: 1rem 1rem 1rem 4rem;
	opacity: 1;
	color: #000;
	font-size: 1.2rem;
	line-height: 120%;
}

.featured{
	width: 60%;
	height: 50%; 
	display: block;
	float: left;
}

.first-article{
	background-color: #666;
	width:100%;
	height:33.33%;
	display: block;
}

.first-article:hover{
	background-color: #fff;
}

.second-article{
	background-color: #777;
	width:100%;
	height:33.33%;
	display: block;
}

.second-article:hover{
	background-color: #fff;
}

.third-article{
	background-color: #888;
	width:100%;
	height:33.33%;
	display: block;
}

.third-article:hover{
	background-color: #fff;
}

.thumbnail-div{
	width: 40%;
	height: 100%;
	display: block;
	float: left;
}

.thumbnail-txt{
	width:50%;
	height: 100%;
	display: block;
	float: left;
	color: #fff;
}

	.thumbnail-txt h3{
		font-size: 1.43rem;
	}


	.thumbnail-txt p{
		font-size: 1rem;
		padding-top: 1.1rem;
		padding-bottom: -1rem;
	}

.thumbnail-txt:hover{
	color: #111;
}

#first{
	padding: 1rem 1rem 0 2rem;
}

#second{
	padding: 0 1rem 0 2rem;
}

#third{
	padding: 0 1rem -1rem 3rem;
	margin-left: 2rem;
	margin-bottom: 0;
}

#art-2-img{
	margin-top: -1rem;
}

#art-3-img{
	margin-top: -1rem;
}


.special{
	width:40%;
	height:50%;
	display: block;
	float: left;
	position: relative;
	background: url(../img/U770GV-smaller.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 0;
	overflow: hidden;
	padding: 0 0 0 0;

}

#special-offer{
	width: 100%;
	height: 15%;
	background-color: #000;
	position: absolute;
	margin: 0 0 0 0;
	padding: 2rem 0 0 2rem;
	opacity: 0.4;
}

#special-offer h3{
	font-size: 2rem;
	color: #fff;
}



/*.overlay-text{
	display: block;
	width: 50%;
	height: 100%;
	background-color: #fff;
	float: right;
	margin: 5rem 0 0 5rem; 
	opacity: 0.4;
	position: absolute;

}*/

/**************************
	Services
***************************/
.services-sub{
	margin: 2rem 0 2rem 4rem;
	width: 82%;
	font-size: 1.7rem;
}

.service-description{
	margin: 2rem 0 2rem 4rem;
	width: 82%;
	font-size: 1.2rem;
	line-height:125%
}



/**************************
	Products
***************************/

.photo{
	width: 100%;
	height: 100%;
	color: #fff;
	/*background-color: #fff;*/
	float: left;
/*	position: absolute;*/
}

.photo h1{
	font-size: 3rem;
	margin: 0 0 0 4rem;
	padding: 2rem 0 0 0;
}

#solo-description{
	margin: 2rem 0 2rem 4rem;
	width: 82%;
}



figcaption{
	display: block;
	margin: 1rem 0 1rem 2rem;
	font-size: 1.5rem;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}


figure{
	background-color: #FFF;
	color: black;
	margin: 1rem 0 1rem 4rem;
	float: left;
	width: 35%;
	height: 45%;
	padding-right: 3rem;
}

figure img{
	margin: 1rem 0 0 2rem;
}

figure p{
	font-size: 1rem;
	margin-top: 1rem;
	margin-left: 2rem;
	padding: 0 0 0 0;
}

figure a{
	font-family:'Source Sans Pro', sans-serif;
	display:inline-block;
	background-color: gray;
	text-decoration: none;
	color: white;
	padding: 0.5em 1rem;
	float:left;
	position:relative;
/*	left:5%;*/
	margin-top: 1rem;
	margin-left: 2rem;
	margin-bottom: 2%;
	box-shadow: .25rem .25rem .125rem #CCC;
}

figure a:hover{
	border-color:blue;
	background-color:#C6D6F5;
	color:black;
}

.more-infobtn a{
	background-color: #0C1727;
	margin-right: 0rem; /*CHANGED from .rem */
}

#prod-1{
	display: inline;

}

#prod-2{
	margin-left: 2rem;
	display: block;
}

#prod-2 img{
	margin-bottom: 1rem; 
}

#prod-2 p{
	margin-bottom: 1.1rem; /*CHANGED from 1.7 so that the buttons stay inside box*/
}

#prod-3{

	display: inline;
}

#prod-3 img{
	margin-bottom: .75rem;
}

#prod-4{
	display: block;
	margin-left: 2rem; 

}

#prod-4 img{
	margin-bottom: .3rem;
}

#prod-4 p{
	margin-bottom: 1.3rem; 
}

#prod-5{
	display: inline;
}

#prod-5 p{
	margin-bottom: 1.25rem; 
}

/**************************
	Description
***************************/


#descrip-page{
	margin-top:1rem ;
	margin-left: 4rem;
}

#descrip-page figure{
	margin-left: 4rem;
}

#megapix{
	background-color: #FFF;
	color: black;
	margin: 2rem 2rem 1rem 0;
	float: left;
	width: 80%;
	height: 70%;
	padding-right: 3rem;
	display: block;
	clear: both;
}

#megapix p{
	font-size: 1.3rem;
}

#megapix a{
	font-size: 1.5rem;
}

#list-of-features{
	list-style: disc;
	margin: 1rem 0 1rem 5rem;
}

#recommendations{
	float: left;
	display: block;
	margin-top: 1rem;
	clear: both;
	font-size: 2rem;
}

.rec-items{
	float: left;
	height: 30%;
	width: 23.5%;
}


.service-items{
	float: left;
	width: 45%;
	clear:both;
	line-height: 115%;
		height:auto;
}

#bgchecks{
	margin-right: .27%;
	clear: both;
	padding-bottom: 2rem;
	height:auto;
}

#bgchecks figcaption{
	font-size: 1.3rem;
}

#rec-1{
	margin-right: .27%;
	clear: left;
}

#rec-1 figcaption{
	font-size: 1.3rem;
}

#rec-2{
	margin-right: .27%;
	margin-left: .27%;
}

#rec-2 figcaption{
	font-size: 1.3rem;
}

#rec-3{
	margin-left: .27%;
}

#rec-3 figcaption{
	font-size: 1.3rem;
}

/****** CONTACT ***** */

.contact-blurb{
	margin: 2rem 0 2rem 4rem;
	width: 82%;
	font-size:1.3rem;
	line-height:125%;
}

/*-----  FORMs   --------*/
form {
	font-size: 0.7rem;
	text-transform: uppercase;

}

form label {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	display: block; 
	margin-top: 1rem;
	font-size: 1rem;

	/*width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;*/
}

#form-title{
	font-size: 2rem;
	font-style: italic;;
}

input[type=submit]{
	margin-top:1rem ;
	padding-right: 1rem;
	position:relative;
	font-size: 1rem;
	color:#FFF;
	text-transform:uppercase;
	font-weight:600;
	background-color:#0C1727;
	float:right;
}

input[type=submit]:hover{
	background-color:#C6D6F5;
	color:#000;
}

form input, form textarea {
	display: block;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1rem;
	padding: 0 5rem 1rem 0.25rem;
	border: 0.1rem solid #999; 
}

form input:hover, form textarea:hover {
	border-color: navy;
}

form textarea {
	width: 13rem;
	height: 6rem;
}

#comments {
	position: relative;
	right: 1rem;
	top: 10%;
	float:left;
	padding: 5%;
	margin-left:10% ;
	background-color: gray;
	clear:both;
}

nav a {
	position: relative;
	top: 1rem;
}

figure {
	float: left;
}

.clear-floats {
	clear: both;
}