
html{
	font-size: 100%;
}

html, body{
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

h1,
h2,
h3{
	font-family: arial, sans-serif;
}

h1{
	font-size: 3rem; /* 48/16px = 3rem*/
	line-height: 3rem; /* 48px/ 16 = 3rem */
}

p{
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
}

#bg-img{
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -99;
}

.img{
	width: 100%;
	height: 100%;
	position: absolute;
}

#bg-img .overlay { 
	position: absolute;
	width: 100%;
	height: 100%;
	background: #26292E;
	opacity: 0.3;
	/*filter: alpha(opacity=50);*/
	z-index: -10;
	clear: float;
}

.col-1of2 a{
	margin:0;
}

.title{
	width: 100%;
	height: 33.33%;
	float: left;
	display: block;
	margin-right: 0;
	background-color: #fff;
	overflow: hidden;
}

#mobile-title h1{
	display: none;
	color: #000;
}


/*#logo{
	margin: 5.5rem 0 0 1.5rem;
}*/

/*.box2{
	width: 49.8%;
	height: 33.33%;
	display: block;
	float: left;
	margin-left: 0;
	background-color: #fff;
}*/

.box-buttons{
	height: 33.33%;
	margin-left: 0;
}

.box-buttons:hover{
	background-color: #FFF;
}

.box-buttons h3{
	height: 100%;
	text-align: center;
	color: #fff;
	padding: 35% 0;
	/*margin: 25% 0;*/
	font-size: 1.25rem;
}

.box-buttons h3:hover{
	color: #000;
}

#service{
	width: 49.5%;
	float: left;
	display: inline;
	border-right: 0.0625rem dashed #fff;
	border-bottom: 0.0625rem dashed #fff;
}

#product{
	width: 49.5%;
	float: left;
	display: block;
	border-bottom: 0.0625rem dashed #fff;
	/*border-top: 0.0625rem dashed #fff;*/
}

#about{
	width: 49.73%;
	float: left;
	display: inline;
	border-right: 0.0625rem dashed #fff;
}

#contact{
	width: 49.5%;
	float: left;
	display: block;
}


/*Right Section*/

.home-container{
	width: 100%;
	height: 100%;
	background-color: #fff;
	clear: float;
}




/***** content ******/

.introduction{
	width: 100%;
	height: 50%;
	background-color: #555;
	background: url(../img/photographer-flipped2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
}


.intro-div{
	float: left;
	display: inline;
}

.img-intro{
	display: block;
}

.overlay-text{
	display: block;
	width: 36%;
	height:70%;
	background-color: #fff;
	float: right;
	margin: 10rem 0 0 10rem; 
	opacity: 0.4;
	position: absolute;
}

.introduction h3{
	float: left;
	font-size: 2.5rem;
	padding: 2.5rem 1rem 0 4rem;
	opacity: 1;
	color: #000;
}

.introduction p{
	float: right;
	padding: 1rem 4rem 1rem 4rem;
	opacity: 1;
	color: #000;
}

.featured{
	width: 50%;
	height: 50%; 
	display: block;
	float: left;
}

.first-article{
	background-color: #666;
	width:100%;
	height:33.33%;
	display: block;
}

.first-article:hover{
	background-color: #fff;
}

.second-article{
	background-color: #777;
	width:100%;
	height:33.33%;
	display: block;
}

.second-article:hover{
	background-color: #fff;
}

.third-article{
	background-color: #888;
	width:100%;
	height:33.33%;
	display: block;
}

.third-article:hover{
	background-color: #fff;
}

.thumbnail-div{
	width: 40%;
	height: 100%;
	display: block;
	float: left;
}

.thumbnail-txt{
	width:50%;
	height: 100%;
	display: block;
	float: left;
	color: #fff;
}

	.thumbnail-txt h3{
		font-size: 1.5rem;
	}


	.thumbnail-txt p{
		font-size: 1rem;
		padding-top: 1.5rem;
		padding-bottom: -1rem;
	}

.thumbnail-txt:hover{
	color: #111;
}

#first{
	padding: 1rem 1rem 0 2rem;
}

#second{
	padding: 0 1rem 0 2rem;
}

#third{
	padding: 0 1rem -1rem 3rem;
	margin-left: 2rem;
	margin-bottom: 0;
}

#art-2-img{
	margin-top: -1rem;
}

#art-3-img{
	margin-top: -1rem;
}


.special{
	width:50%;
	height:50%;
	display: block;
	float: left;
	position: relative;
	background: url(../img/U770GV-smaller.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 0;
	overflow: hidden;
	padding: 0 0 0 0;

}

#special-offer{
	width: 100%;
	height: 15%;
	background-color: #000;
	position: absolute;
	margin: 0 0 0 0;
	padding: 2rem 0 0 2rem;
	opacity: 0.4;
}

#special-offer h3{
	font-size: 3rem;
	color: #fff;
}



/*.overlay-text{
	display: block;
	width: 50%;
	height: 100%;
	background-color: #fff;
	float: right;
	margin: 5rem 0 0 5rem; 
	opacity: 0.4;
	position: absolute;

}*/