@media (min-width: 100.0625rem) and (max-width: 122rem){
	html{
		font-size: 100%;
	}

	#logo{
		margin: 6rem 0 0 6.4rem;
		display: block;
	}

	figcaption{
	margin: 1rem 0 2rem 2rem;
	font-size: 2rem;

	}

	p{
		font-size: 1.2rem;
		line-height: 1.5rem;
	}

	#megapix{
		height: 40rem;
	}

	.rec-items{
		height: 25rem;
	}
}

/*1281-1600*/

@media (min-width: 80.0625rem) and (max-width: 100rem){
	#logo{
		margin: 7.5rem 0 0 2rem;
		display: block;
		width: 75%;
	}

	#service{
		width:49.95%;
		border-right: 1px dashed #fff;
		border-bottom: 1px dashed #fff;
	}

	#product{
		border-bottom: 1px dashed #fff;
	}

	#about{
	border-right: 1px dashed #fff;
	}

	.rec-items{
	float: left;
	height: 20rem;
	width: 12.5rem;
	}

/*	#rec-1{
		width: 22.5%;
	}

	#rec-2{
		width: 22.5%;
	}

	#rec-2{
		width: 22.5%;
	}*/
} 


/* 769- 1280*/
@media  (min-width: 48.0625rem) and (max-width:80rem){


	html{
		font-size: 80%;
	}

	.col-1of2{
	margin: 0;
	width: 30%;
	height: 100%;
	float: left;
	/*border: 1px dashed black;*/
	}

	.col-2of2{
		width: 70%;
	}

/*	.title h1{
		padding: 15.5rem 0 0 1rem;
		font-size: 2.5rem;
	}*/

	#logo{
		margin: 7.5rem 0 0 2rem;
		display: block;
		width: 75%;
	}

	#service{
		width:49.95%;
		border-right: 1px dashed #fff;
		border-bottom: 1px dashed #fff;
	}

	#product{
		border-bottom: 1px dashed #fff;
	}

	#about{
		border-right: 1px dashed #fff;
	}

	.rec-items{
		float: left;
		height: 20rem;
		width: 10rem;
	}

/*	#rec-1{
		width: 20%;
	}

	#rec-2{
		width: 20%;
	}

	#rec-2{
		width: 20%;
	}*/

}

/* 481 - 768*/

@media only screen and (min-width: 30.0625rem) and (max-width: 48.0624rem){

	.col-1of2{
		margin: 0;
		width: 100%;
		height: 15rem;
		float: left;
	}

	.col-2of2{
		width: 100%;
		overflow: auto;
	}

	html{
		font-size: 60%;
	}
/*
	.title h1{
		padding: 24rem 0 0 1rem;
		font-size: 1rem;
	}*/

	.title{
		height: 100%;
	}

	#logo{
		display: inline-block;
		margin: 3rem 0 0 5rem;
		width: 30%;
	}

	#bgchecks{
		width: 65%;
		height:auto;
	}


	#menu-container{
		display:block;
		float: right;
		margin: 6rem 4rem 0 0;
	}


	#service{
		display: none;
		width:49.95%;
		border-right: 1px dashed #fff;
		border-bottom: 1px dashed #fff;
	}

	#product{
		display: none;
		border-bottom: 1px dashed #fff;
	}
	#about{
		display: none;
		border-right: 1px dashed #fff;
	}

	#contact{
		display: none;
	}

	figure{
		height: 50%;
	}

	#megapix{
		height: 55rem;
	}

	figcaption{
		font-size: 2.5rem;
		margin-bottom: 3rem;
	}

	#megapix p{
		font-size: 2rem;
	}

	#megapix li{
		font-size: 1.5rem;
	}

	.rec-items{
		width: 10rem;
		height: 35rem;
		margin-bottom: 1rem;
	}

}

@media only screen and (max-width: 30rem){

/*	html,body{
		overflow: auto;

	}*/

	.background{
		-webkit-overflow-scrolling: touch;
	}
	.col-1of2{
		margin: 0;
		width: 100%;
		height: 10%;
		float: left;
	}

	.col-2of2{
		width: 100%;
		overflow: auto;
	}

	.title{
		height: 100%;
	}

	#logo{
		display: none;
	}

	#mobile-title h1{
		display: block;
		font-size: 1.5rem;
		/*padding: 1rem 0 0 1rem;*/
		text-align: center;
	}

	.nav-buttons{
		margin-right: .01rem;
	}

	.nav-buttons a{
		padding: .5rem 1rem;
	}

	#menu-container{
		width: 100%;
		display:block;
		float: left;
		margin: 1rem 0 0 10%;
	}

/*	#menu-icon{
		color: #000;
		display: block;
		width: 2rem;
		height: 2rem;
		border: 1px dashed #000;
	}

	#nav{
		clear: both;
		position: absolute;
		top: 3rem;
		z-index: 10000;
		padding: .5rem;
		display: none;
	}*/

	.box2{
		display: none;
	}

	#service{
		display: none;
	}

	#product{
		display: none;
	}
	#about{
		display: none;	
	}

	#contact{
		display: none;
	}

	#descrip-page{
		margin-left: 1rem;
	}

	#descrip-page figure{
		margin-left: 1rem;
	}

	#megapix{
		height: 45rem;
	}

	.rec-items{
		width: 15rem;
	}

	#rec-3{
		height: 24rem;
	}
}


@media (min-height: 48.0625rem) and (max-height: 56.25rem){
	.title h1{
		padding-top: 10rem;
	}

}

@media (min-height: 30.625rem) and (max-height: 48rem){
	.title h1{
		padding-top: 8rem;
	}

	#logo{
		margin-top: 4rem;
	}

	#list-of-features{
		margin: 1rem 0 .5rem 5rem;
	}

/*	#megapix{
		height: 85%;
	}

	#megapix a{
		font-size: 2rem;
	}

	.rec-items{
		height: 60%;
	}*/

}