@media (min-width: 100.0625rem) and (max-width: 122rem){
	html{
		font-size: 100%;
	}

	#logo{
		margin: 6rem 0 0 6.4rem;
		display: block;
	}

	figcaption{
	margin: 1rem 0 2rem 2rem;
	font-size: 2rem;

	}

	p{
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
}

/*@media (min-height: 48.0625rem) and (max-height: 56.25rem){
	.title h1{
		padding-top: 10rem;
	}

}

@media (min-height: 30.625rem) and (max-height: 48rem){
	.title h1{
		padding-top: 8rem;
	}

}*/

@media  (min-width: 48.0625rem) and (max-width:100rem){

	html{
		font-size: 80%;
	}

/*	.title h1{
		padding: 15.5rem 0 0 1rem;
		font-size: 2.5rem;
	}*/

	#logo{
		margin: 7.5rem 0 0 1.5rem;
		display: block;
	}

	#service{
		width:49.95%;
		border-right: 1px dashed #fff;
		border-bottom: 1px dashed #fff;
	}

	#product{
		border-bottom: 1px dashed #fff;
		border-top: 1px dashed #fff;
	}

	#about{
	border-right: 1px dashed #fff;
	}

}

@media only screen and (min-width: 30.0625rem) and (max-width: 48.0624rem){
	html{
		font-size: 60%;
	}
/*
	.title h1{
		padding: 24rem 0 0 1rem;
		font-size: 1rem;
	}*/

	#logo{
		display: block;
		margin: 15rem 0 0 1.5rem;
	}


	#service{
		width:49.95%;
		border-right: 1px dashed #fff;
		border-bottom: 1px dashed #fff;
	}

	#product{
		border-bottom: 1px dashed #fff;
		border-top: 1px dashed #fff;
	}
	#about{
		border-right: 1px dashed #fff;
	}

}

@media only screen and (max-width: 30rem){

	.col-1of2{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		float: left;
	}

	.title{
		width: 100%;
		height: 10%;
	}

	#logo{
		display: none;
	}

	#mobile-title h1{
		display: block;
		font-size: 1.5rem;
		/*padding: 1rem 0 0 1rem;*/
		text-align: center;
	}

	.box2{
		display: none;
	}

}