
h1,
h2,
h3{
	font-family: Arial, Verdana, sans-serif;
}


h1{
	font-size: 3.6rem;
	text-align: center;
}

h2{
	text-align: center;
	font-size:2.4rem;
}

h3{
	color: #000;
	font-size: 1.8rem;
}

p{
	margin: 0 4rem 0 1.5rem;
	font-family: Arial,Verdana, sans-serif;

}

.content-title{
	margin-left: 1.5rem;
}

body{
	background:#2F3238;
	color:#FFFFFE;
	font-weight:300;
	font-family: Arial, Verdana, sans-serif;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

div.container{
	width: 15rem; 
	height: 30rem; 
	position: absolute;
	margin-left: 5rem;
	top:17rem;
}

div.container img{
	width: 100%;
	height: 100%;
	position: absolute;
}

div.container div{
	width:100%;
	height: 100%;
	position: absolute;
	display:none;
	background-color:#FFFFFF;
}

.servicelist{
	margin:0;
	padding:0;
	display: block;
	position: relative;
}


.servicelist li{
	height:inherit;
	list-style-type: none;
	display: block;
	border-bottom: 1px solid #dde0e3;
}

div.container div ul li a{
	padding: 10px 30px;
	height:auto;
	display:block;
	font-size: 1rem;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
}

div.container div ul li a:hover{
	height:auto;
	background-color: #d15d5d;
	color:#FFF;
}

/*div.container div ul li a:focus{
	height:auto;
	background-color: #d15d5d;
	color:#FFF;
}*/

div.container div ul li:hover{
	transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-webkit-transition: color 0.5s ease-in-out;

}

div.container img:hover + div{
	display: block;
}

div.container img:hover{
	opacity: 0.5;
}

div.container div:hover{
	display: block;
}

div.container a,
div.container a:visited{
	text-decoration: none;
	color: #000;
}


/******* slide out content *********/

.menuslider{
	overflow-x: hidden;
	max-width: 0;
	position: absolute;
	left: 21rem;
	top: 17rem;

	-webkit-transition-property: all;
	-webkit-transition-duration: .7s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-moz-transition-property: all;
	-moz-transition-duration: .7s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-ms-transition-property: all;
	-ms-transition-duration: .7s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	transition-property: all;
	transition-duration: .7s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	background: #FFFFFE;
	height: 30rem; 
	width: 15rem;
}
.menuslider.clicked{
	max-width:15rem;
}

.slider {
		overflow-x: hidden;
		max-width: 0;
		position: absolute;
		left:36.5rem;
		top:17rem;

		-webkit-transition-property: all;
		-webkit-transition-duration: .5s;
		-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

		-moz-transition-property: all;
		-moz-transition-duration: .5s;
		-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

		-ms-transition-property: all;
		-ms-transition-duration: .5s;
		-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

		transition-property: all;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

		background: #FFFFFE;
		height:30rem; 
		width:50rem;
	}

.slider.clicked {
	max-width:50rem;
}

.img-style{
	margin-left: 1.5rem;
	margin-bottom: 2rem;
}

.slider p{
	margin-bottom: 4rem;
}

/**/

#comments {
	position: absolute;
	right: 1rem;
	top: 20rem;
	bottom:1rem;

	padding: 1rem;
	background-color: #2F3238;
}

nav a {
	position: relative;
	top: 1rem;
}

figure {
	float: left;
}

.clear-floats {
	clear: both;
}


/*I&S options*/


a{
	text-decoration: none;
	color: #000;
}

.ISoptions li a{
	padding-bottom: 20px;
	height:auto;
	display:block;
	font-size: 1rem;
	font-family: Arial, Verdana, sans-serif;

}

.ISoptions li{
	height:inherit;
	display: block;
}

.ISoptions{
	list-style-type: disc;
}


.ISoptions li a:hover{
	height:auto;
	color: #d15d5d;
}




